.App {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}
/*.imgPanel{*/
    /*width:100%;*/
    /*height:160px;*/
    /*border:0 solid gray;*/
/*}*/
.imgPanel img{
    width:100%;
}
.weui-media-box_appmsg .weui-media-box__hd {
    width: auto;
    height:auto;
}
.banben {
    text-align: left;
    color:#242424;
    font-weight: bold;
    font-size:14px;
}
.weui-panel {
    margin-top: 0;
}
.weui-panel__hd {
    background: #f9f9f9;
}
.weui-media-box__title{
    font-size: 14px;
}
.weui-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    /* z-index: 500; */
    top: 0;
    width: 100%;
    height: 44px;
    line-height: 120%;
    font-size: 13px;
    background-color: white;
    margin-top:0;
}
.weui-navbar__item{
    font-size:13px;
}
/*@media screen and (max-width: 362px) { !*当屏幕尺寸小于362px时，应用下面的CSS样式*!*/
    /*.titleBox{*/
        /*margin-left: 54px;*/
    /*}*/
/*}*/
.filterNav.active {
    color:#30ace5;
}
.filterNav{
    color: #666;
}
.weui-navbar__item{
    position: static;
}
.weui-navbar + .weui-tab__panel{
    padding-top: 5px;
}
.weui-tab{
    margin-top: -6px;
}
.weui-panel:first-child {
    margin-top: 36px;
}
